/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type='file'] {
    max-width: 100%;
}

:root {

    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --font-family: "Outfit", sans-serif;
    --content-width: 1440px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

}

@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/outfit-v11-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/outfit-v11-latin-700.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__body {
    height: 100svh;
    font-size: 1rem;
    font-family: var(--font-family);
    background-color: var(--slate-300);
}

.container {
    max-width: var(--container-width);
}

.card {
    max-width: 320px;
    padding: 1rem;
    padding-bottom: 40px;
    background-color: var(--white);
    border-radius: 20px;
}

.card__img {
    display: block;
    margin-bottom: 24px;
    border-radius: 10px;
}

.card__text {
    padding: 0 15px;
}

.card__title {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: var(--color-slate-900);
}

.card__descr {
    margin: 0;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-slate-500);
}